@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  /* Font Families */
  --ff-plus-jakarta: 'Plus Jakarta Sans', sans-serif;

  /* Colors */
  --clr-white: hsl(0, 0%, 100%);
  --clr-grey: hsl(232, 10%, 56%);
  --clr-pink-300: hsl(341, 100%, 83%);
  --clr-pink-600: hsl(341, 92%, 62%);
  --clr-blue-600: hsl(234, 25%, 52%);
  --clr-blue-900: hsl(233, 54%, 16%);

  /* Gradients */
  --gradient-preset-one: linear-gradient(180deg, rgba(255, 111, 72, 1) 0%, rgba(240, 42, 166, 1) 100%);
  --gradient-preset-two: linear-gradient(180deg, rgba(72, 81, 255, 1) 0%, rgba(240, 42, 166, 1) 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

html,
body {
  position: relative;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

body {
  min-height: 100vh;
  background-color: var(--clr-cream);
  color: var(--clr-black);
  font-size: 1rem;
  line-height: 1.5;
  font-family: var(--ff-plus-jakarta);
  font-weight: 500;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  background-color: none;
  border: none;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: none;
}

.button {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 700;
  border-radius: 1.75rem;
  background-color: var(--clr-grey);
  color: var(--clr-white);
}

@media (min-width: 48rem) {
  .button {
    padding: .625rem 1.5rem;
    font-size: 1.125rem;
    line-height: 1.5;
  }
}

@media (min-width: 80rem) {
  .button {
    padding: 1rem 2rem;
    font-size: 1.125rem;
    line-height: 1.5;
  }
}

.button--black {
  transition: background-color .2s ease-in-out;
  background-color: var(--clr-blue-900);
}

.button--black:hover {
  background-color: var(--clr-blue-600);
}

.button--orange {
  background: var(--gradient-preset-one);
  transition: opacity .2s ease-in-out;
}

.button--orange:hover {
  opacity: .5;
}

.button--purple {
  background: var(--gradient-preset-two);
  transition: opacity .2s ease-in-out;
  padding: .625rem 1.5rem;
  font-size: 1.125rem;
  line-height: 1.5;
}

@media (min-width: 80rem) {
  .button--purple {
    padding: 1rem 2rem;
    font-size: 1.125rem;
    line-height: 1.5;
  }
}

.button--purple:hover {
  opacity: .8;
}

.container {
  width: calc(100% - 2.5rem);
  margin-inline: auto;
}

@media (min-width: 48rem) {
  .container {
    max-width: 42.5rem;
  }
}

@media (min-width: 80rem) {
  .container {
    max-width: 70rem;
  }
}

.header__container {
  position: relative;
}

.navbar__container {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 48rem) {
  .navbar__container {
    padding: 1.5rem 0;
  }
}

.navbar__logo {
  display: block;
  width: 4.9375rem;
  height: 1.25rem;
}

@media (min-width: 48rem) {
  .navbar__logo {
    width: 6.9375rem;
    height: 1.75rem;
  }
}

.navbar__logo-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hero__container {
  margin: 4rem 0;
  display: grid;
  gap: 3rem;
}

@media (min-width: 48rem) {
  .hero__container {
    grid-template-columns: 20.5rem 1fr;
  }
}

@media (min-width: 80rem) {
  .hero__container {
    grid-template-columns: 28.5625rem 1fr;
  }
}

.hero__img-container {
  width: 20.9375rem;
  height: 20rem;
  margin: 0 auto;
}

@media (min-width: 48rem) {
  .hero__img-container {
    width: 43.5rem;
    height: 43.5rem;
    position: absolute;
    z-index: -1;
    top: -68px;
    left: 322px;
  }
}

@media (min-width: 80rem) {
  .hero__img-container {
    width: 58.5rem;
    height: 58.5rem;
    top: -142px;
    left: 622px;
  }
}

.hero__img-mobile {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 48rem) {
  .hero__img-mobile {
   display: none;
  }
}

.hero__img-tablet {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 48rem) {
  .hero__img-tablet {
    display: block;
  }
}

@media (min-width: 80rem) {
  .hero__img-tablet {
    display: none;
  }
}

.hero__img-desktop {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 80rem) {
  .hero__img-desktop {
    display: block;
  }
}

@media (min-width: 48rem) {
  .hero__info {
    padding: 2.625rem 0;
  }
}

@media (min-width: 80rem) {
  .hero__info {
    padding: 6.9375rem 0;
  }
}

.hero__title {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  color: var(--clr-blue-900);
}

@media (min-width: 80rem) {
  .hero__title {
    font-size: 3.5rem;
  }
}

.hero__description {
  margin-top: 1.5rem;
  font-size: 1.125rem;
  line-height: 1.5;
  color: var(--clr-grey);
  margin-right: .375rem;
}

@media (min-width: 48rem) {
  .hero__description {
    margin-right: 0;
  }
}

.hero__button {
  margin-top: 2.5rem;
}

.courses {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(240, 241, 255, 1) 100%);
}

.courses__container {
  padding: 4rem 0 5rem 0;
}

@media (min-width: 48rem) {
  .courses__container {
    padding: 5.75rem 0 9rem 0;
  }
}

.courses__grid {
  display: grid;
  gap: 3.75rem;
}

@media (min-width: 48rem) {
  .courses__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 3.75rem 1.5rem;
  }
}

@media (min-width: 80rem) {
  .courses__grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 5.25rem 2rem;
  }
}

.course-intro {
  background: var(--gradient-preset-one);
  border-radius: .9375rem;
  color: var(--clr-white);
}

.course-intro__content {
  padding: 2rem;
}

@media (min-width: 48rem) {
  .course-intro__content {
    padding: 4rem 2rem 2.5rem;
  }
}

.course-intro__title {
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 800;
}

@media (min-width: 80rem) {
  .course-intro__title {
    font-size: 2rem;
  }
}

.course {
  background-color: var(--clr-white);
  border-radius: .9375rem;
  box-shadow: 0 1.5625rem 3.125rem rgba(6, 22, 141, 0.0442);
}

.course__content {
  padding: 4rem 2rem 2.5rem;
  position: relative;
}

@media (min-width: 48rem) {
  .course__info {
    display: flex;
    flex-direction: column;
    height: 13.625rem;
  }
}

.course__img-container {
  position: absolute;
  top: -1.75rem;
  left: 2rem;
}

.course__title {
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 800;
  color: var(--clr-blue-900);
}

.course__description {
  margin-top: 1.5rem;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 700;
  color: var(--clr-grey);
}

@media (min-width: 48rem) {
  .course__description {
    font-size: 1.125rem;
    font-weight: 500;
  }
}

.course__link {
  display: inline-block;
  margin-top: 1.5rem;
  color: var(--clr-pink-600);
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 700;
  transition: color .2s ease-in-out;
}

.course__link:hover {
  color: var(--clr-pink-300);
}

@media (min-width: 48rem) {
  .course__link {
    margin-top: auto;
  }
}

.footer {
  background-color: var(--clr-blue-900);
}

.footer__container {
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__logo-img {
  display: block;
  width: 4.9375rem;
  height: 1.25rem;
}

@media (min-width: 80rem) {
  .footer__logo-img {
    width: 6.9375rem;
    height: 1.75rem;
  }
}